* {
    font-family: "Century Gothic", "Avenir";
}

.jumbotron-fluid {
    background-image: url(stars.png);
    background-size: cover;
}

.jumbotron-fluid p{
    margin: 5% auto 5% auto;
    text-align: center;
    font-size: 75px;
    color: white;
}

h1 {
    text-align: center;
}

.AboutUs {
    margin-bottom: 5%;
    padding: 0 5% 0 5%;
    font-size: 18px;
    text-align: justify;
}

.row {
    justify-content: center;
}

.card {
    margin: 3%;
}

footer {
    margin-top: 3%;
    background-color: gray;
    padding: 5% 0;
    color: white;
}