* {
    font-family: "Century Gothic", "Avenir";
}

.landing {
    background-image: url("keyboard.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.sig {
    display: block;
    margin: 8% auto 8% auto;
    width: 65%;
}

#downAngle {
    width: 4%;
    position: sticky;
    bottom: 10%;
    left: 48%;
}

.aboutMe {
    background-color: darkgray;
}

.paper {
    margin: 0 15% 0 15%;
    padding: 2.5% 2.5% 10% 2.5%;
    background-color: #282a36;
    min-width: 70%;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
       .paper {
            margin: 0 1% 0 1%;
            padding: 1% 1% 5% 1%;
            background-color: #282a36;
            min-width: 70%;
            border-radius: 20px;
        }
}

.paper p {
    font-family: "Courier", "Consolas";
    color: white;
}

.tagPurple {
    color: #ff5bb9;
    font-family: "Courier", "Consolas";
}

.tagGreen {
    color: #4df06a;
    font-family: "Courier", "Consolas";
}

.tagOrange {
    color: orange;
    font-family: "Courier", "Consolas";
}

#indent {
    font-family: "Courier", "Consolas";
    margin-left: 5%;
}

col {
    justify-content: center;
}

.col a{
    display: inline-flex;
    justify-content: center;
}

.button {
    width: 30%;
    height: 30%;
}

footer {
    font-size: 80%;
    padding: 2% 0 2% 0;
    background-color: lightgrey;
}

footer a {
    color: black;
    padding-left: 50px;
}

footer a:hover {
    color: darkmagenta;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}