* {
    font-family: "Century Gothic", "Avenir", "Futura";
}

@media screen and (min-width: 850px) { /*full size*/
    .padding {
        padding: 0 10% 0 10%;
    }
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    
    .paper {
        margin: 0 10% 0 10%;
        padding: 2.5% 2.5% 10% 2.5%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 850px) { /*medium*/
    .padding {
        padding: 0 5% 0 5%;
    }
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
    
    .paper {
        margin: 0 5% 0 5%;
        padding: 1% 1% 5% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
}

@media screen and (max-width: 600px) { /*Small*/
    .padding {
        padding: 0 1% 0 1%;
    }
    
    .landing {
        background-image: url("keyboard.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    
    .paper {
        margin: 0 1% 0 1%;
        padding: 1% 1% 5% 1%;
        background-color: #282a36;
        min-width: 70%;
        border-radius: 20px;
    }
}

.sig {
    display: block;
    margin: 8% auto 8% auto;
    width: 65%;
}

#downAngle {
    width: 4%;
    position: sticky;
    bottom: 10%;
    left: 48%;
}

.nav-item {
    padding-left: 10px;
    color: darkgray;
}

.aboutMe {
    background-color: darkgray;
}

.paper p {
    font-family: "Courier", "Consolas";
    color: white;
    font-size: 14px;
}

.tagPurple {
    color: #ff5bb9;
    font-family: "Courier", "Consolas";
}

.tagGreen {
    color: #4df06a;
    font-family: "Courier", "Consolas";
}

.tagOrange {
    color: orange;
    font-family: "Courier", "Consolas";
}

#indent {
    font-family: "Courier", "Consolas";
    margin-left: 5%;
}

.button {
    width: 30%;
    height: 30%;
}

footer {
    margin-top: 5%;
    font-size: 14px;
    padding: 3% 0 3% 0;
    background-color: lightgrey;
}

footer a {
    color: black;
}

footer a:hover {
    color: magenta;
    text-decoration: none;
}