.jumbotron-fluid p{
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.jumbotron-fluid {
    background-image: url(farm.jpg);
    background-size: cover;
    height: 200px;
}
img {
    width: 100%;
    height: auto;
    padding: 15px;
}
.nav-link {
    color: black;
    font-size: 25px;
}
h1, p {
    text-align: center;
}
.color {
    color: white;
}
.experience {
    text-align: left;
    padding: inherit;
}
.design {
    height: 500px;
}
.aboutMe {
    padding: inherit;
}
.rounded {
    height: auto;
    width: auto;
}
.resume {
    width: 700px;
    height: auto;
    display: block;
    margin: auto;
}










