.jumbotron-fluid p{
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.jumbotron-fluid {
    background-image: url(farm.jpg);
    background-size: cover;
    height: 200px;
}
img {
    width: 100%;
    height: auto;
    padding: 15px;
}
.nav-link {
    color: black;
}
h1, p {
    text-align: center;
}
.color {
    color: white;
}