.row{
    justify-content: center;
    outline-color: black;
}
h1 {
    text-align: center;
    color: black;
}
h3 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    color: black;
}
body{
    color: white;
}